# ignore unneeded files (LICENSES, READMES, etc..)
LICENSE
readme.md
README.md
*.txt
# ignore xfce4 stuff
xfce4/.config/xfce4/desktop
# ignore random changes in thunar
xfce4/.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
# ignore random changes in display config
xfce4/.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
# ignore random changes in screenshot tool
xfce4/.config/xfce4/xfce4-screenshooter
# ignore oh-my-zsh folder
.oh-my-zsh/
# ignore lock-files
*-lock\.*
# ignore tmux plugins
*/.tmux/plugins
# ignore uuid-files in fonts
*\.uuid
# ignore api key for chatgpt
/zsh/.privateEnv
